.product-list-container {
  width: 100%;
}

.filter-controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.filter-controls select {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
}

.product-grid {
    display: grid;
    /* Kartların minimum genişliğini 280px olarak ayarlayarak daha esnek hale getirdik */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}